/*
 * Loyal Blue : SW 6510 : #01455E : 1, 69, 94
 * Fabulous Grape : SW 6293 : #6D344F : 109, 52, 79
 * Vintage Vessel : SW 9050 : #94B2A6 : 148, 178, 166
*/

:root {
    --loyal-blue: #01455E;
    --fabulous-grape: #6D344F;
    --cerise: #99324E;
    --vintage-vessel: #94B2A6;
    --onyx: #0F0F0F;
    --seashell: #F0F0F0;
}

body {
    background: linear-gradient(
        to bottom,
        /* var(--cerise) 10%, */
        /* var(--vintage-vessel), */
        var(--loyal-blue) 60%,
        var(--fabulous-grape) 80%,
        var(--onyx) 100%
    ) no-repeat fixed center;
}